<div style="padding-top: 20px; padding-left: 20px;">
    <label style="font-size: 16px;">Example 01: <span class="w3-text-red">Plotting Points</span></label><br />
    <label style="font-size: 14px;">Click anywhere in the space to draw a random colored point</label><br />

    <!-- tabindex set the focus to the canvas which allows the canvas to handle keyboard inputs -->
    <!-- outline: none; removes the border from around the canvas when it is focus -->
    <canvas id="example01" tabindex="1" width="640" height="480" style="outline: none;">
        Canvas not supported!! Try a different browser
    </canvas><br />
    
    <label style="font-size: 14px;" class="w3-text-green">Source Code:</label>
</div>